@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Poppins:wght@400;500&display=swap');

/* zerando config padrões */
* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* rolagem suave de uma pag para outra */
html {
    scroll-behavior: smooth; 
}
.body-guest {
    background-color: #3772FF;
}

.main-guest {
    display: flex;
    justify-content: space-between;
}

.header-guest-left {
    position: absolute;
    background-position: left;
    background-size: 100%;
    z-index: -1;
}

.header-guest-right {
    background-position: right;
    background-size: 100%;
    margin-top: 130px;
    z-index: -1;
}

.copy-image-right{
    visibility: hidden;
}

.section-guest {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.logo{
    margin-top: 110px;
}

.welcome-guest{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 300;
}

/* login area */
.login{
    margin-top: 20px;
}
.login-button {
    display: inline-block;
    width: 20rem;
    background-color: #FC7071;
    font-weight: 600;
    font-size: 1vw;
    text-align: center;
    box-shadow: 2px 2px 4px #00000040;
    border-radius: 7px;
    color: white;
    padding: 4px;
    margin: 6px;
}

.footer-pets{
    width: 20vw;
    margin-top: 60px;
    z-index: -1;
}

/* footer */
.p-footer{
    padding: 0;
    font-size: 1.2vw;
    font-family: 'Poppins', sans-serif;
}

footer{
    text-align: center;
    background-color: #36D6AD;
    color: white;
    padding: 15px;
}

/* responsividade */
@media(max-width: 1200px) {
    .header-guest-left{
        width: 40vw;
    }
    .header-guest-right, .copy-image-right {
        width: 10vw;
        margin-top: 150px;
    }
    .logo {
        width: 20rem;
    }
    .login-button{
        width: 15rem;
        font-size: 1.3vw;
    }
    .footer-pets{
        width: 20vw;
        margin-top: 60px;
    }
    .p-footer{
        font-size: 1.5vw;
    }
}

@media(max-width: 768px) {
    .header-guest-left{
        width: 18.5rem;
    }
    .header-guest-right, .copy-image-right {
        width: 4.5rem;
        margin-top: 200px;
    }
    .welcome-guest{
        font-size: 4vw;
    }
    .logo {
        width: 15rem;
    }
    .login-button{
        width: 15rem;
        font-size: 2vw;
    }
    .footer-pets{
        width: 27vw;
        margin-top: 60px;
    }
    .p-footer{
        font-size: 1.8vw;
    }
}

@media(max-width: 500px) {
    .header-guest-left{
        width: 15rem;
    }
    .header-guest-right, .copy-image-right {
        width: 3.5rem;
        margin-top: 250px;
    }
    .welcome-guest{
        font-size: 6vw;
    }
    .phrase-guest {
        visibility: hidden;
    }
    .phrase-guest::before {
        content: "Que tal buscar seu novo melhor amigo hoje? Vem com a gente!";
        display: block;
        visibility: visible;
    }
    .login-button{
        width: 13rem;
        font-size: 3vw;
    }
    .footer-pets{
        width: 45vw;
        margin-top: 30px;
    }
    .p-footer{
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        font-size: 2.8vw;
    }
}