@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Poppins:wght@400;500&display=swap');

/* zerando config padrões */
* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* flex-grow, flex-shrink, e flex-basis */
section {
    display: flex;
    font-family: 'Poppins', sans-serif;
}

/* rolagem suave de uma pag para outra */
html {
    scroll-behavior: smooth; 
}
.body-guest {
    background-color: #3772FF;
}

.main-guest {
    display: flex;
    justify-content: center;
}

.header-guest-left {
    position: absolute;
    background-position: top left;
    background-size: 100%;
    width: 27rem;
}

.header-guest-right {
    background-position: right;
    background-size: 100%;
    margin-top: 130px;
    width: 6.5rem;
}

.section-guest {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    margin-top: 100px;
    font-size: 18px;
}

h2{
    margin-top: 30px;
    margin-bottom: 20px;
}

p{
    padding-bottom: 10px;
    text-align: center;
}

.footer-pets{
    width: 18.5rem;
    margin-top: 60px;
    z-index: -1;
}

.p-footer{
    padding: 0;
}

footer{
    background-color: #36D6AD;
    color: white;
    padding: 15px;
}

@media(max-width: 1050px) {
    .header-guest-left{
        width: 20.5rem;
    }
    .header-guest-right {
        width: 5.5rem;
        margin-top: 150px;
    }
    .logo {
        width: 20rem;
    }
    .footer-pets{
        width: 15.5rem;
        margin-top: 60px;
    }
}
@media(max-width: 750px) {
    .header-guest-left{
        width: 18.5rem;
    }
    .header-guest-right {
        width: 4.5rem;
        margin-top: 200px;
    }
    .logo {
        width: 15rem;
    }
    .footer-pets{
        width: 13.5rem;
        margin-top: 60px;
    }
}
@media(max-width: 450px) {
    .header-guest-left{
        width: 15rem;
    }
    .header-guest-right {
        width: 3.5rem;
        margin-top: 250px;
    }
    .footer-pets{
        width: 11.5rem;
        margin-top: 60px;
    }
    .welcome-guest{
        font-size: 16px;
    }
}