@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Poppins:wght@400;500&display=swap');

/* zerando config padrões */
* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* rolagem suave de uma pag para outra */
html {
    scroll-behavior: smooth; 
}
body {
    background-color: white;
    min-height: 100vh;
}

.container-app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.icon-add {
    width: 2.3rem;
}

.phrase-app{
    margin-top: 7.5rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #3772FF;
    font-weight: 600;
}

.main-app{
    font-family: 'Poppins', sans-serif;
    flex: 1;
}

.logo-app{
    max-width: 30%;
}

.usuario-app{
    max-width: 50%;
}

.perfil-app{
    display: flex;
    margin-top: 123px;
}

/* dashboard pets */
.ul-app{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    gap: 1rem;
    margin: 2rem 11rem 8rem 11rem;
}

.container-pet-dashboard{
    display: flex;
    flex-direction: row;
    max-width: fit-content;
    color: #737380;
    background-color: rgb(239, 239, 239);
    gap: 1rem;
    align-items: center;
    padding: 1rem;
}

.card-name{
    color: #3772FF;
    margin-bottom: .7rem;
}

.card-text{
    display: flex;
    flex-direction: column;
    text-align: start;
}
.pet-image{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.img-pets{
    border-radius: 20%;
    height: 150px;
    width: 150px;
}

.text-body-secondary{
    display: flex;
    justify-content: end;
    margin-top: .5rem;
}

.button-responsavel{
    display: flex;
    align-items: center;
    gap: .4rem;
}

/* footer */
.p-footer{
    margin: .5rem;
    font-size: .8vw;
    font-family: 'Poppins', sans-serif;
}

footer{
    text-align: center;
    background-color: #36D6AD;
    color: white;
    padding: 0px;
}

/* pag meus pets */
.link-pet{
    color: #3772FF;
    font-weight: 600;
}
.section-meusPets{
    max-width: 42rem;
    margin: 15rem auto auto auto;
    padding: 2.5rem;
    background-color: rgb(239, 239, 239);
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.link-add-pet {
  display: inline-flex;
  background-color: #3ebb9a;
  align-items: center;
  padding: 4px 15px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-weight: 600;
  font-size: 0.875rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: background-color 0.3s, color 0.3s;
}

.container-pets{
    display: flex;
    justify-content: space-between;
    margin-top: 1.3rem;
}

.icones-att-del{
    display: flex;
    justify-content: baseline;
    align-items:baseline;
    gap: 1rem;
}

.select-estados{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.cabecalho-add-edit{
    margin-top: .5rem;
    font-size: larger;
    font-weight: 500;
}

input::placeholder {
    font-style: italic;
    font-size: small;
}
/* pag adicionar pet */
.cabecalho-novoPet{
    display: flex;
    justify-content: space-between;
}

.patas{
    width: 10rem;
    padding-right: 0;
}

h1{
    margin-top: 7rem;
    font-size: medium;
    color: rgb(78, 76, 76);
}

.section-create{
    display: block;
    max-width: 30rem;
    max-height: 35rem;
    margin: 9rem auto 1.5rem auto;
    padding: 0 0 2.5rem 1.5rem;
    background-color: rgb(239, 239, 239);
}

input{
    max-width: 30rem;
    border-radius: .7rem;
}
.form-create{
    display: flex;
    flex-direction: column;
    margin-top: -9rem;
}

.botoes-create{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    padding-right: 1.5rem;
    justify-content: end;
}

/* pag edit pet */
.input-text{
    display: block;
    border-radius: 0.375rem;
    padding: 5px;
    font-size: 14px;
    display: block;
    margin-top: 1rem;
    width: 100%;
    margin-bottom: -.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* show pet */
.pet-image-show{
    display: flex;
    flex-wrap: wrap;
    margin: 10rem auto 1.5rem auto;
    border-radius: 20%;
    height: 160px;
    width: 160px;
}

.ficha-pet{
    text-align: center;
    margin-left: -1.5rem;
    margin-bottom: .5rem;
}

.h1-ficha{
    color: #3772FF;
    font-weight: 600;
}

.content-pet{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.back{
    text-align: end;
    margin-right: 1.5rem;
}
.container-show{
    display: block;
    max-width: 30rem;
    max-height: 35rem;
    margin: 2rem auto 1.5rem auto;
    padding: 1.5rem 0 1.5rem 1.5rem;
    background-color: rgb(239, 239, 239);
}


/* responsividade */
@media(max-width: 1200px) {
    .header-guest-left{
        width: 40vw;
    }
    .header-guest-right, .copy-image-right {
        width: 10vw;
        margin-top: 150px;
    }
    .footer-pets{
        width: 20vw;
        margin-top: 60px;
    }
    .p-footer{
        font-size: 1.4vw;
    }
    .section-create{
        margin-top: 11rem;
        padding-right: 0;
    }
    .botoes-create{
        padding-right: 1.5rem;
    }
        .phrase-app{
        margin: 11rem 2.5rem 2rem 2.5rem;
    }
    .ul-app{
        margin: 2rem 3rem 8rem 3rem;
    }
}

@media(max-width: 637px) {
    .header-guest-left{
        width: 18.5rem;
    }
    .logo{
        width: 100%;
    }
    .section-app{
        padding: 5rem;
    }

    .p-footer{
        font-size: 1.5vw;
    }
    .phrase-app{
        margin: 12rem 2.5rem 2rem 2.5rem;
    }
    .select-estados{
        display: flex;
        flex-direction: column;
        width:fit-content;
    }
    .section-create{
        max-height: 39rem;
    }
}

@media(max-width: 500px) {
    .header-guest-left{
        width: 17rem;
    }
    .logo-app{
        max-width: 40%;
    }
    .header-guest-right, .copy-image-right {
        width: 3.5rem;
        margin-top: 250px;
    }
    .section-app{
        padding: 3.5rem;
        margin-top: 40px;
    }

    .form-create{
        margin-top: -8.5rem;
    }
    .section-create{
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        padding-left: .5rem;
        padding-right: 0;
    }
    .section-meusPets{
        margin: 10rem auto auto auto;
        background-color: rgba(239, 239, 239, 0.56);
    }
    .cabecalho-add-edit{
        font-size: medium;
    }
    .footer-pets{
        width: 45vw;
        margin-top: 30px;
    }
    .p-footer{
        display: flex;
        flex-wrap: wrap;
        font-size: 2.2vw;
    }
    .ul-app{
        margin: 0 0 8rem 0;
    }
    .phrase-app{
        margin: 9rem 2.5rem 2rem 2.5rem;
    }
    .pet-image-show{
        margin: 10rem auto 1.5rem auto;
    }
    .container-show{
        margin: 2rem auto 5rem auto;
    }
}

@media (max-width: 300px) {
    .main-app{
        max-width: 100%;
        max-height: 100%;
    }
    .logo{
        width: 100%;
    }
    .patas{
        width: 6rem;
    }
    footer{
        max-width: 100%;
    }
    .section-create{
        margin-top: 5rem;
        margin-bottom: 100%;
        max-width: 35rem;
    }

    .container-show{
        margin: 2rem auto 5rem auto;
    }
    .container-pet-dashboard{
        padding: .5rem;
    }
    .img-pets{
        height: 120px;
        width: 120px;
    }
    .text-body-secondary{
        font-size: xx-small;
    }
    .msg-dashboard{
        font-size: xx-small;
    }
}