@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Poppins:wght@400;500&display=swap');

/* zerando config padrões */
* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* flex-grow, flex-shrink, e flex-basis */
section {
    flex: 1 1 auto;
}

/* rolagem suave de uma pag para outra */
html {
    scroll-behavior: smooth; 
}

.body-guest {
    background-color: #3772FF;
    font-family: 'Poppins', sans-serif;
}

.header-guest-left {
    position: absolute;
    top: 0; /* Alinha o topo do elemento com o topo da janela do navegador */
    left: 0; /* Alinha a esquerda do elemento com a esquerda da janela do navegador */
    background-size: 100%;
}

.header-guest-right {
    background-position:right;
    background-size: 100%;
    width: 7rem;
}

.main-guest {
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: #FFFFFF;
}

.section-guest {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 28px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;
}

p{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 15px;
}

.login{
    text-align: center;
    margin-top: 30px;
}

.login-button {
    display: inline-block; /* Define os botões como elementos em linha */
    width: 200px; /* Defina a largura fixa desejada para os botões */
    background-color: #FC7071;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    box-shadow: 2px 2px 4px #00000040;
    border-radius: 7px;
    color: white;
    padding: 7px 0; /* Remova a definição de largura e adicione preenchimento esquerdo/direito 0 */
    margin: 5px; /* Adicione margem entre os botões */
}

.footer-pets {
    background-size: 100%;
    background-position: bottom;
    width: 18rem;
}

footer {
    display: flex;
    font-family: 'Poppins', sans-serif;
    position: relative;
    background-color: #36D6AD;
    color: #FFFFFF;
    justify-content: center;
    padding: 15px;
}
