@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Poppins:wght@400;500&display=swap');

/* zerando config padrões */
* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.body-guest{
    background-color: #3772FF;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

header{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    height: 2rem;
}

.imagem-body-direita{
    position: absolute;
    right: 0px;
    z-index: -1;
    height: 36rem;
}

.main-guest{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 10rem;
    color: white;
    gap: 2rem;
}

.p-login, h2{
    margin-bottom: 1rem;
}

.login-button{
    display: inline-block;
    background-color: #FC7071;
    font-weight: 600;
    text-align: center;
    margin: 0.3rem;
    box-shadow: 2px 2px 4px #00000040;
    border-radius: 7px;
    color: white;
    width: 17rem;
}

/* responsividade */
@media(max-width: 1200px) {
    .header-guest-left{
        width: 40vw;
    }
    .header-guest-right, .copy-image-right {
        width: 10vw;
        margin-top: 150px;
    }
    .logo {
        width: 20rem;
    }
    .login-button{
        width: 15rem;
        font-size: 1.3vw;
    }
    .footer-pets{
        width: 20vw;
        margin-top: 60px;
    }
    .p-footer{
        font-size: 1.4vw;
    }
}

@media(max-width: 768px) {
    .header-guest-left{
        width: 18.5rem;
    }
    .header-guest-right, .copy-image-right {
        width: 4.5rem;
        margin-top: 200px;
    }
    .welcome-guest{
        font-size: 4vw;
    }
    .logo {
        width: 15rem;
    }
    .login-button{
        width: 15rem;
        font-size: 2vw;
    }
    .footer-pets{
        width: 27vw;
        margin-top: 60px;
    }
    .p-footer{
        display: flex;
        flex-wrap: wrap;
        font-size: 2.2vw;
    }
}

@media(max-width: 500px) {
    .header-guest-left{
        width: 15rem;
    }
    .header-guest-right, .copy-image-right {
        width: 3.5rem;
        margin-top: 250px;
    }
    .welcome-guest{
        font-size: 6vw;
    }
    .phrase-guest {
        visibility: hidden;
    }
    .phrase-guest::before {
        content: "Que tal buscar seu novo melhor amigo hoje? Vem com a gente!";
        display: block;
        visibility: visible;
    }
    .login-button{
        width: 13rem;
        font-size: 3vw;
    }
    .footer-pets{
        width: 45vw;
        margin-top: 30px;
    }
    .p-footer{
        display: flex;
        flex-wrap: wrap;
        font-size: 2.8vw;
    }
}