@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Poppins:wght@400;500&display=swap');

/* zerando config padrões */
* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* flex-grow, flex-shrink, e flex-basis */
section {
    flex: 1 1 auto;
}

/* rolagem suave de uma pag para outra */
html {
    scroll-behavior: smooth; 
}

.body-guest {
    background-color: #3772FF;
    font-family: 'Poppins', sans-serif;
}

.header-guest-left {
    background-position: left top;
    background-size: 100%;
    width: 22rem;
    height: 18.5rem;
    position: absolute;
    z-index: -1;
}

.header-guest-right {
    background-position:right;
    background-size: 100%;
    width: 7rem;
}

.main-guest {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.logo {
    display: flex;
    margin: 10% 50% auto 45%;
    flex-direction: row;
    font-size: 87px;
    font-weight: 700;
    align-items: baseline;
}

.welcome-guest {
    display: flex;
    flex-direction: column;
    margin: 10% 50% auto 45%;
}

h2 {
    font-size: 28px;
    font-weight: 700;
    color: #FCF0E3;
}

p{
    font-size: 15px;
    font-weight: 500;
    color: #FCF0E3;
}

.login{
    color: #FCF0E3;
    margin-top: 30px;
}

.login-button{
    width: 50vw;
    background-color: #FC7071;
    padding: 5px 40px; 
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: white;
    text-align: center;
    box-shadow: 2px 2px 4px #00000040;
    transition: 0.3s;
    border-radius: 7px;
    cursor: pointer;
}

.footer-pets {
    background-size: 100%;
    background-position: bottom;
    width: 18rem;
    z-index: -1;
}

footer {
    display: flex;
    flex: 0 1 auto;
    font-family: 'Poppins', sans-serif;
    position: relative;
    background-color: #36D6AD;
    color: #FFFFFF;
    justify-content: center;
    padding: 15px;
}